.btn:link{
    color: #6a96ff;
}
.btn:active{
    color:#ff0000;
}
.btn:visited{
    color:#6a96ff;
}
.btn:hover{
    color: #ffef52;
}

.head_left{
    float: left;
    color: #818181;
    line-height: 31px;
    display: inline-block;
    width: 50%;
}
.head_right{
    float: right;
    line-height: 31px;
}
.mainContainer{
    width: 60%;
    height: 2000px;
    margin: auto;
}
.head{
    background: url("../img/head.png") repeat-x;
    height: 31px;
}
.search{
    width: 100%;
    height: 158px;
}
.logo{
    clear: both;
    height: 158px;
    float: left;
}
#search_mid{
    padding-top: 124px;
}
.content{
    width: 100%;
    height: auto;
}
#bookDetail table{
    table-layout: fixed;
}
#bookDetail tr{
    height: 30px;
}

#popWindow{
    display: none;
    width:350px;
    height:250px;
    border:1px solid #ccc;
    position:absolute;
    z-index:9999;
    background:#fff;
}

#popSelfBookList{
    display: none;
    width:550px;
    height:450px;
    border:1px solid #ccc;
    position:absolute;
    z-index:9999;
    background:#fff;
}
